<div class="content-front row">
  <div class="text-center small-10 medium-8 medium-centered small-centered large-6 large-centered columns">
    <h1 id="logo"><%= image_tag "logo-of6.png" %></h1>

    <h3 class="all-the-sexy-buzzwords">Bespoke, artisanal, curated, handcrafted, cloud leveraged internets. Whatever.</h3>

    <%= mail_to 'work@of-6.com', 'Let’s Make Something', class: 'button' %>

  </div>
</div>